.calculator-body {
  max-width: 400px;
  margin: auto;
  border: 1px solid #ccc;
}
.calculator-body h1 {
  font-size: 42px;
}
.calculator-body .result-dashboard {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: right;
}
.calculator-body .result-dashboard p {
  font-size: 36px;
}

.calculator-body .calculator-button li {
  width: 100px;
  height: 100px;
  border: 1px solid #eee;
}

.button {
  display: block;
  background-color: #bbb;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}
