body {
  font-family: 'opensans';
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* for main body */
.calculator-body {
  max-width: 400px;
  margin: auto;
  border: 1px solid #ccc;
}
.calculator-body h1 {
  font-size: 42px;
}

/* for dashboard */
.calculator-body .result-dashboard {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: right;
}
.calculator-body .result-dashboard p {
  font-size: 36px;
}

/* for buttons */
.calculator-body .calculator-button li {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
}
